@charset "UTF-8";

*{
    padding: 0;
    margin:0;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
    src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
    src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url("../fonts/ProximaNova-Extrabold/ProximaNova-Extrabld.eot");
    src: url("../fonts/ProximaNova-Extrabold/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabold/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabold/ProximaNova-Extrabld.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    height: 100%;
    margin: 0;
}

#TOPrectangle {
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#QuickAccessString {
    padding: 20px 0px 10px 0px;
    display: flex;
    width: 81%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerleft {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerright {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.podan2 {
    width: 150px;
/*    padding-right: 10%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 68px;
}

#slash {
    width: 1px;
    height: 15px;
    background: #A9C5E0;
    margin-left: 20px;
}

#LogINbox {
    border: 1px solid #E5E31F;
    border-radius: 10px;
    padding: 10px 60px 10px 60px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#LogINbox:hover {
    background-color: #376A9A;
}

#link1 {
    color: #E5E31F;
    font-size: 18px;
    line-height: 22px;
    font-family: Proxima Nova Semibold, sans-serif;
}

#ZakazText {
    font-family: Proxima Nova Regular, sans-serif;
}

#MiddleOfPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 5%;
}

#step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 20%;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

#textcolor {
    color: #A9C5E0;
    font-size: 13px;
    line-height: 24px;
    font-family: Proxima Nova Light, sans-serif;
}

#BOTTOMrectangle {
    padding: 70px 0px 50px 0px;
    background: #23415E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

a {
    text-decoration: none;
}

#link2 {
    color: #FFFFFF;
}

#link3 {
    color: #A9C5E0;
}

#Contacts1 {
    font-family: Proxima Nova Regular, sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 36px;
}

#Contacts2 {
    font-family: Proxima Nova Regular, sans-serif;
    font-size: 15px;
    line-height: 36px;
    margin: 0;
}



#blocknoteIMG {
    PADDING: 0 0 0 15%;
    width: 30%
}

#prev-btn,
#next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: 35%;
}

#prev-btn:hover,
#next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 1%;
}

#next-btn {
    right: 1%;
}

#nav-btns {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    margin: 0;
    top: -2%;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 10px;
    height: 10px;
    border: 4px solid #264160;
    border-width: 3px;
    margin: 4px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

#nav-btns1 {
    display: flex;
    justify-content: center;
    width: 165.3%;
    margin-left: -4%;
}

#slideAndButtons {
    display: flex;

    width: 90%;
}

#contactInform {
    color: #A9C5E0;
}

#fiveStepsToInvite {
    font-family: Proxima Nova Bold, sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: #2A496B;
    margin: 6% 0 7% 0;
}

#StepsName {
    height: 5%;
    font-family: 'Proxima Nova';
    color: #000000;
    display: flex;
    text-align: center;
    margin: 0 0 30% 0;
}

#stepBox {
    display: flex;
    flex-direction: column;
}

.stepImage {
    margin-bottom: 11%;

    height: 52px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#stepHeadtext {
    font-family: Proxima Nova Semibold, sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 7%;
    text-align: center;
    width: 270px;
}

#authorization {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 390px;
    background: #FFF;
    border-radius: 6px;
    padding: 60px;
}

#container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}



#authorizationTitle {
    font-family: Proxima Nova Extra Bold, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
}

#authorizationInfo {
    font-family: Proxima Nova Regular, sans-serif;
    margin-top: 3%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#input {
    display: flex;
    flex-direction: column;
}

#enterBoxContent {
    margin-top: 10%;
    background: #E5E31F;
    border-radius: 10px;
    width: 100%;
    min-height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#authorizationTextEnter {
    font-family: Proxima Nova Semibold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2A4F71;
}

.inputItem {
    margin-top: 2%;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #23415E;
    border-radius: 6px;
    padding: 14px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: Proxima Nova Regular, sans-serif;
}


#textAndIMG {
    display: flex;
    flex-direction: row;
}

#inputError {
    width: 100%;
    color: #F44336;
    font-size: 16px;
    font-family: Proxima Nova Regular, sans-serif;
    margin-top: 4%;
    height: 40px;
}





#stepBotText {
    min-width: 300px;
    height: 38px;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    font-family: Proxima Nova Regular, sans-serif;
}

#slider-wrap {
    width: 100%;
    height: 590px;
    position: relative;
    overflow: hidden;
}

#active-slide {
    overflow: hidden;
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}


.slider {
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40px;
        z-index: 15;
}

.bar {
    width: 8px;
    border: 3px #264160 solid;
    height: 8px;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 5;
}

.text {
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.text-img {
    width: 81%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.img {
    width: 45%;
    height: 100%;
    position: relative;
}

.container-img {
    position: absolute;
    bottom: 0;
    left:0;
    width: 150%;
    height: 100%;
}

#img1{
    background: url("../images/s1.svg") no-repeat;
    background-position: bottom left;
    background-size: 470px;
}

.text-top {
    font-family: Proxima Nova Extra Bold, sans-serif;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0px;
    text-align: left;
}

.text-center {
    font-family: Proxima Nova Regular, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 4% 0% 15% 0%;
    text-align: left;
}

.text-button {
    background: #e5e31f;
    border-radius: 10px;
    width: 240px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#zakaz2 {
    color: #2A4F71;
}

#img2 {
    background: url("../images/s2.svg") no-repeat ;
    background-position: bottom left;
    background-size: 570px;
    margin-left:18%;
}

.topleft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.topright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerboom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 81%;
}


#ContacsList2 {
    width: 180px;
}

.line {
    line-height: 1.2;
}

#center-hieght {
    margin: 5% 0 5% 0; 
}

.admin-center {
    width: 81%;
    margin-top: 5%;
}

#link2 > div {
    font-family: Proxima Nova Regular, sans-serif;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    line-height: 36px;
    width: 130px;
}

.compact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
}

#s1 {
    position: absolute;
    left: 0;
    top:0;
    z-index: 5;
    opacity: 1;
    transition: 1s;
}

#s2 {
    position: absolute;
    left: 50%;
    top:0;
    z-index: 10;
    opacity: 1;
    transition: 1s;
}

#r1 {

}

#r2 {
}

.block {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}
